/* .apps-grid {
    display: flex;
    flex-wrap: wrap;
}

.app-icon {
    flex: 0 0 50%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

.app-icon:hover {
    background-color: #f0f0f0;
    cursor: pointer;
} */

.apps-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;
  }
  
  .app-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    border-radius: 6px;
    padding: 6px 20px;
    transition: transform 0.3s ease;
    
  }
  
  .app-icon:hover {
    background-color: rgba(0, 0, 0, 0.05); 
    transform: scale(1.05);
    
  }
  
  .app-icon-image {
    
    width: 35px; 
    height: 35px;
    margin-bottom: 6px;
  
  }
  
  .app-icon-text {
    font-size: 14px;
  }
  